<div class="jumbotron">
    <h1>Willkommen auf spacegate!</h1>

    <p>Spacegate ist unser zentraler Server für Internet, Routing, VPN und ein paar kleinerer Dienste.</p>
</div>

<h2>Hilfreiches</h2>
<ul>
    <li><a href="http://shopsystem.mainframe.lan:8080/">Unser Shopsystem</a></li>
    <li><a href="http://192.168.2.51/">Drucken kann man hier auch</a></li>
    <li><a href="http://spacegate:3142/report">apt-cacher report</a></li>
</ul>

<h2>ToDo's</h2>
<ul>
    <li>Dauerhaftes Speichern in rrd</li>
    <li>Diagnostic services</li>
</ul>